body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  margin-top: 100px;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

#info-two {
  background: #f1f1f1;
  padding: 10px 0 10px 0;
}

footer {
  background: url(../img/smartphones.png);
}
